@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Miltonian&family=Rubik+Doodle+Shadow&family=Rubik:ital,wght@0,700;1,700&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Miltonian&family=Rubik:ital,wght@0,700;1,700&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Luckiest+Guy&family=Miltonian&family=Rubik+Doodle+Shadow&family=Rubik:ital,wght@0,700;1,700&family=Titan+One&display=swap');
.bg{
    background-color: #FCD200;
    background-image: url('https://img.freepik.com/free-vector/flat-comic-style-background_23-2148882944.jpg?w=826');
    

}
nav{
    background-color: #36008D;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.heading p{
    color: #FFB3C1;
    font-size: 80px;
    font-family: 'Luckiest Guy';
    padding: 20px;
    
}
.heading img{
    height: 80px;
    width: 85px;
    padding-right: 10px;
    
}


.b1{
    background-color: #00C9B8;
    border-style: none;
    outline: none;
    height: 40px;
    color: black;
    border-radius: 5px;
}


.b1:hover{
    background-color: #06ad9f;
}
.b4{
    background-color: #36008D;
    border-style: none;
    outline: none;
    height: 40px;
    color: white;
    border-radius: 5px;
}
.b4:hover{
    background-color: #290367; 
}

.b3{
    background-color: #E2E0E5;
    border-style: none;
    outline: none;
    height: 40px;
    color: black;
    border-radius: 5px;
}
.b3:hover{
    background-color: #afaeb1; 
}
.i{
    height: 37px;
    width: 100%;
    padding-left: 20px;
    outline: none;
    border: 1px solid lightgrey;
    font-size: 15px;
    color: black;
    font-family: sans-serif;
    border-radius: 5px;
    
}
.i:focus{
    border: 2px solid #36008D;
    color: black;
    
}